// Non-modular or client styles for .l-footer region.

#footer-wrapper{
  background-color: black;
}
footer#footer {
  color: $font-color;
  a{
    color: $font-color;
  }
  @include flex-grid-row();
  flex-direction: column-reverse;
  align-items: center;
  padding: 70px 0px 25px 0px;
  @include breakpoint(large) {
    flex-direction: row;
  }

  .region {
    @include grid-col-gutter();
    width: 100%;
    margin-bottom: 30px;
    @include breakpoint(large){
      width: auto;
      margin-bottom: 0;
      @include flex-grid-column(1 of 3);
    }
  }

  .paragraph--type--branch {
    @include breakpoint(smallplus){
      flex-direction: row;
      align-items: unset;
    }
    @include breakpoint(large) {
      justify-content: flex-end;
    }
    .base-contact-fields {
      @include breakpoint(smallplus){
        padding-right: 15px;
        text-align: right;
      }
      @include breakpoint(large) {
        padding-right: 30px;
      }
    }
    .field-name-field-extra-contact-fields {
      @include breakpoint(smallplus) {
        padding-left: 15px;
        text-align: left;
      }
      @include breakpoint(large) {
        text-align: right;
        padding-left: 0;
      }
    }
    .base-contact-fields, .field-name-field-extra-contact-fields {
      @include breakpoint(smallplus) {
        flex: 1 0 50%;
      }
      @include breakpoint(large){
        flex: unset;
      }
    }
  }

  .block-social {
    .linkicon {
      justify-content: center;
      @include breakpoint(large){
        justify-content: flex-start;
      }
    }
  }
}



.block-base-footer {
  ul.menu {
    justify-content: center;
    @include breakpoint(large){
      justify-content: flex-start;
      flex-direction: column;
    }
    @include breakpoint(xlarge){
      flex-direction: row;
    }
    &>li {
      a {
        font-size: 14px;
        @include breakpoint(large){
          padding-left: 0;
        }
        @include breakpoint(xlarge){
          padding-left: 1rem;
        }
        @include breakpoint(xlarge){
          &:first-of-type{
            padding-left: 0;
          }
        }
      }
    }
  }
}

.region-footer_middle {
  text-align: center;
}

#linkicon-block-content-social-links-field-links-1{
  li:first-of-type{
    padding-left: 0px;
  }
  li:last-of-type{
    padding-right: 0px;
  }
  li{
        padding: 0 15px;
        a{
             
           
              svg{
                 background-color: white;

                 border-radius: 5px;
                 color: black;
          width: 30Px;
          height: 30px;
          padding: 4px;
          transition: 0.3s ease;
              }
              svg:hover {
                background-color: black;
                color: white;
              }
        }
        
  }
}
#block-base-footer{
  .menu{
    li{
      a{
        text-transform: lowercase;
        transition: 0.3s ease;
      }
      a:hover{
        color: white;
      }
    }
  }
}
.region-footer_middle{
  .block-sitebranding{
    a{
      svg{
        filter: brightness(0) invert(1);
      }
    }
  }
}

.field-name-field-extra-contact-fields {
  .paragraph--type--contact-field {
    a {
      transition: 0.3s ease;
    }

    a:hover {
      color: white!important;
    }
  }
}