// Non-modular or client styles for .l-header region.
#header-wrapper {
  header#header {
    max-width: $global-width;
    margin: 0 auto;
  }
}

.region-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  @include breakpoint(large){
    padding: 30px 0;
  }
}

.block-system-branding-block,
.block-base-main-menu,
.block-nav-toggle {
  @include grid-col-gutter();
}


.block-base-main-menu {
  @include show-for($mobile-nav-breakpoint);
}
.block-nav-toggle {
  @include hide-for($mobile-nav-breakpoint);
  position: relative;
  z-index: 13;
}


.off-canvas-wrapper {
  ul.menu {
    &>li {
      &>a {
        color: $body-font-color;
        text-transform: uppercase;
        font-weight: $global-weight-bold;
        transition: color .25s ease-out;
        &>span {
          position: relative;
          &:after {
            content: '';
            display: none;
            background-color: $body-font-color;
            height: 2px; width: 100%;
            position: absolute;
            bottom: -3px; left: 0;
          }
        }
        &.is-active {
          &>span {
            &:after {
              display: block;
            }
          }
        }
        &:hover, &:focus {
          color: $primary-color;
        }
      }
    }
  }
}


