.button, .button.success, .button[disabled].success,
.eu-cookie-compliance-buttons button {
  padding: $button-padding;
  border: 2px solid $body-font-color;
  text-transform: uppercase;
  font-weight: $global-weight-bold;
  font-size: rem-calc(14);
  background-color: $button-background;
  &:hover, &:focus {
    background-color: $body-font-color;
    color: $white;
  }
}

.burger-icon {
  @include burger(25px, 3px, 5px, $body-font-color);
}

.menu-button {
  cursor: pointer;
  &.is-active .burger-icon {
    @include burger-to-cross;
  }
}