.block.contact-data.full {

}

.paragraph--type--branch {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  p {
    margin-bottom: 0;
  }
}

.geolocation-common-map {
  height: 320px;
  @include breakpoint(mediumplus){
    height: 100%;
  }
}

.captcha {
  margin-bottom: 20px;
}
