.home.full {
  h1 {
    font-size: rem-calc(16);
    margin-bottom: 0;
    
  }
  h2 {
    font-size: rem-calc(36);
    margin-bottom: 15px;
    font-weight: $font-bold;
  }
  p{
    color: $font-color;
        padding: 20px 0px;
  }
  h3{
    color: black;
    font-weight: $font-bold;
    width: 50%;
  }
}
figcaption{
  .field-node--body{
    .field-items{
      .field-item{
        p{
       @include breakpoint(mediumplus) {
         color: white;
       }
        }
      }
    }
  }
}
a.button{
  letter-spacing: 1px;
}