.page.full {
  header {
    figure {
      .figure_page_header {
        margin: 0 auto 30px auto;
        display: block;
          height: 240px;
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          -moz-background-size: auto 160%;
          -webkit-background-size: auto 160%;
          -o-background-size: auto 160%;
          background-size: auto 160%;
          width: 100%;
          max-width: 1500px;
            background-attachment: fixed;
        @include breakpoint(medium){
          margin: 0 auto 50px auto;
        }
        @include breakpoint(large){
          margin: 0 auto 80px auto;
        }
      }
      figcaption {
        @include grid-row();
        @include grid-col-gutter();
        margin-bottom: 30px;
        @include breakpoint(medium){
          margin-bottom: 50px;
        }
        @include breakpoint(large){
          margin-bottom: 80px;
        }
      }
    }
  }
  p{
    color: $font-color!important;
  }
  h1{
    font-weight: $font-bold;
    padding-bottom: 40px;
  }
  h3{
        color: black;
        font-weight: $font-bold;
        transition: 0.3s ease;
        font-size: rem-calc(25);

        @include breakpoint(large){
         
        }
  }
}
.machinepark.full{
    header {
      figure {
        .figure_page_header {
          margin: 0 auto 30px auto;
          display: block;
          height: 240px;
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          -moz-background-size: auto 160%;
          -webkit-background-size: auto 160%;
          -o-background-size: auto 160%;
          background-size: auto 160%;
          width: 100%;
          max-width: 1500px;

          @include breakpoint(medium) {
            margin: 0 auto 50px auto;
          }

          @include breakpoint(large) {
            margin: 0 auto 80px auto;
          }
        }

        figcaption {
          @include grid-row();
          @include grid-col-gutter();
          margin-bottom: 30px;

          @include breakpoint(medium) {
            margin-bottom: 50px;
          }

          @include breakpoint(large) {
            margin-bottom: 80px;
          }
        }
      }
    }

    p {
      color: $font-color !important;
    }

    h1 {
      font-weight: $font-bold;
      padding-bottom: 40px;
    }

    h3 {
      color: black;
      font-weight: $font-bold;
      transition: 0.3s ease;
      font-size: rem-calc(25);

      @include breakpoint(large) {}
    }
}
.breadcrumbs{
  li{
    a{
      color: black;
    }
  }
}

.paragraph--type--machinepark-picture {
  width: 100%;
  height: auto;
  max-width: 1500px;
  margin: 0 auto;
}

.grid {
  margin: 50px auto;

  height: auto;
}

.grid-item {
  margin-bottom: 5px;
  width: 30%;

  @include breakpoint(mediumplus) {
    width: 24%;
  }

  img {

    height: auto;

  }
}

.grid {
  width: 100%;
  height: auto;
}