.field-name-field-paragraphs {
  &>.field-items {
    &>.field-item {
      margin-bottom: 30px;

      @include breakpoint(medium) {
        margin-bottom: 50px;
      }

      @include breakpoint(large) {
        margin-bottom: 80px;
      }

      @include breakpoint(xxlarge) {
        margin-bottom: 100px;
      }
    }
  }
}
.home.full{
  .field-name-field-text-blocks {
    &>.field-items {
      &>.field-item {
        margin: 0 auto;
      }
    }
  }
}
.field-name-field-text-blocks {
  &>.field-items {
    @include breakpoint(medium) {
      @include flex-grid-row();
      flex-wrap: nowrap;
      justify-content: flex-start;
    }

    &>.field-item {
      @include grid-col-gutter();
      max-width: 768px;
    }
  }
}

.paragraph--type--text-image {
  @include breakpoint(medium) {
    @include flex-grid-row();
    align-items: center;
  }

  &>div,
  &>figure {
    @include breakpoint(medium) {
      @include flex-grid-column(1 of 2);
    }
  }

  &>div {
    @include grid-col-gutter();

    @include breakpoint(large) {
      @include flex-grid-column(5 of 12);
    }
  }

  &>figure {
    @include grid-col-gutter();
    margin-bottom: 15px;

    @include breakpoint(medium) {
      margin-bottom: 30px;
    }

    @include breakpoint(large) {
      @include flex-grid-column(7 of 12);
      margin-bottom: 0;
    }
  }

  &.option-image-right {
    @include breakpoint(large) {
      &>figure {
        padding-left: 105px !important;
      }
    }
  }

  &.option-image-left {
    @include breakpoint(medium) {
      flex-direction: row-reverse;
    }

    @include breakpoint(large) {
      &>figure {
        padding-right: 105px !important;
      }
    }
  }
}

.paragraph--type--form {
  @include grid-row();
  @include grid-col-gutter();

  h2,
  .field-name-field-form {
    max-width: 800px;
  }
}

.paragraph--type--map-form {
  @include flex-grid-row();

  .contact-wrapper {
    @include flex-grid-column(1 of 1);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    @include breakpoint(mediumplus) {
      @include flex-grid-column(1 of 2);
      margin-bottom: 0;
    }

    .field-name-field-map {
      display: flex;
      flex: 1 1 100%;

      .views-element-container {
        width: 100%;
      }
    }

    .field-name-field-branches {
      background-color: black;
      color: $white;
      padding: 15px;
      font-weight: $global-weight-bold;

      @include breakpoint(medium) {
        padding: 30px;
      }

      @include breakpoint(large) {
        padding: 30px 60px;
      }

      .paragraph--type--branch {
        justify-content: center;

        p {
          color: white !important;
        }

        @include breakpoint(mediumplus) {
          flex-wrap: wrap;
        }

        @include breakpoint(large) {
          flex-wrap: unset;
          flex-direction: row;
        }

        .base-contact-fields,
        .field-name-field-extra-contact-fields {
          text-align: center;

          @include breakpoint(large) {
            flex: 1 0 50%;
          }
        }

        .base-contact-fields {
          @include breakpoint(large) {
            padding-right: 15px;
            text-align: left;
          }
        }

        .field-name-field-extra-contact-fields {
          .paragraph--type--contact-field {
            a {
              transition: 0.3s ease;
            }

            a:hover {
              color: white;
            }
          }

          @include breakpoint(large) {
            padding-left: 15px;
            text-align: left;
          }
        }
      }

      a {
        color: $white;
        transition: color .25s ease-out;

        &:hover,
        &:focus {
          color: darken($white, 20%);
        }
      }
    }
  }

  .form-field-wrapper {
    @include flex-grid-column(1 of 1);

    @include breakpoint(mediumplus) {
      @include flex-grid-column(1 of 2);
    }

    @include breakpoint(large) {
      @include flex-grid-column(1 of 2, 105px);
    }
  }
}

.paragraph--type--image {
  @include flex-grid-row();
  justify-content: center;

  .field-name-field-image {
    @include grid-col-gutter();
  }
}

.home {
  .view-mode-full {


    .field-name-field-paragraphs {
      .field-items {
        .field-item:first-of-type {
          .paragraph--type--text-blocks:first-of-type {
            .field-paragraph--field-text-blocks {
              .field-items {
                .field-item {
                  .paragraph--type--text-block {
                    .field-paragraph--field-text {
                      .field-items {
                        .field-item {
                          text-align: center;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.paragraph--type--map-form {
  .form-field-wrapper {
    h2 {
      font-weight: $font-bold;
      width: 65%;
      padding-bottom: 30px;
    }

    .js-form-item {
      label {
        font-weight: $font-bold;
        font-size: rem-calc(16);
      }
    }

    .js-form-type-checkbox {
      label {
        font-weight: $font-regular;
        transition: 0.3s ease;
      }

      label:hover {
        color: $font-color;
      }
    }
  }
}

.paragraph--type--text-blocks {
  @include grid-column-row();

  .field-name-field-text-blocks {
    &>.field-items {
      display: flex;
      flex-wrap: wrap;
      padding: 0 15px;

      @include breakpoint(large) {
        padding: 0 55px;
      }

      &>.field-item {
        @include flex-grid-column(1 of 1);

        @include breakpoint(medium) {
          display: flex;
          @include flex-grid-column(1 of 2, 0);
        }
      }
    }
  }

  &.tree-blocks {
    .field-name-field-text-blocks {
      &>.field-items {
        &>.field-item {
          @include breakpoint(medium) {
            display: flex;
          }

          @include breakpoint(large) {
            @include flex-grid-column(1 of 3, 0);
          }
        }
      }
    }
  }
}

.paragraph--type--text-block {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;

  @include breakpoint(medium) {
    padding: 20px 40px;
  }
}